<div class="myself clearfix">
	<div class="image"></div>
	<div class="personalDetails">
		<h1>Anton Klevansky</h1>
		<h2>Professional conference interpreter working worldwide<br>for international organizations and private clients</h2>
		<span class="client">EU Commission</span><span class="client">EU Parliament</span><span class="client">Council of Europe</span><span class="client">International Trade Unions</span><span class="client">FAO</span><span class="client">WCO</span>
		<div class="language">
			Native speaker of Russian and Belarusian.
			Working with: English, French, Spanish, Polish and Ukrainian 
		</div>
		<div class="aiic">Full member of the International Association of Conference Interpreters (<a href="http://aiic.net/a.klevansky" target="_blank">AIIC</a>)</div>
	</div>
	<div class="contact">
		<a href="https://www.facebook.com/anton.klevansky" target="_blank"><div class="social facebook"></div></a>
		<a href="https://www.linkedin.com/in/antonklevansky/" target="_blank"><div class="social linkedin"></div></a>
		<div class='email'>For any questions or comments, please send me an email: <a href="mailto:&#097;&#046;&#107;&#108;&#101;&#118;&#097;&#110;&#115;&#107;&#121;&#064;&#097;&#105;&#105;&#099;&#046;&#110;&#101;&#116;?Subject=Numerizer App">&#097;&#046;&#107;&#108;&#101;&#118;&#097;&#110;&#115;&#107;&#121;&#064;&#097;&#105;&#105;&#099;&#046;&#110;&#101;&#116;</a></div></div>
</div>