	<div class="heading clearfix">
		<h2 class="js-sessionNumber">Number Set <span class='js-number'><%-numberSetsCounter%></span>:</h2>
		<div class="controlPlay">
			<button class="js-controls js-controlPlay js-playBtn" data-action="play"><i class="fa fa-play" aria-hidden="true"></i></button>
			<button class="js-controls js-controlPlay js-pauseBtn" data-action="pause"><i class="fa fa-pause" aria-hidden="true"></i></button>
			<button class="js-controls js-controlPlay js-stopBtn" data-action="stop"><i class="fa fa-stop" aria-hidden="true"></i></button>
			<!-- <div class="rate"> -->
				<span class="rateCaption">Rate (for next number): </span><input class="session-rate" type="range" min="0.7" max="2" value="<%-rate%>" step="0.01">
			<!-- </div> -->
		</div>
 		<div class="controlWindow">
		<% if ( true ){%>
			<button class="js-controls js-controlWindow js-hidden wrapBtn" data-action="wrap"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
			<button class="js-controls js-controlWindow wrapBtn" data-action="wrap"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
		<%} else {%>
			<button class="js-controls js-controlWindow wrapBtn" data-action="wrap"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
			<button class="js-controls js-controlWindow js-hidden wrapBtn" data-action="wrap"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
		<%}%>
			<button class="js-controls js-controlWindow closeBtn" data-action="close"><i class="fa fa-times" aria-hidden="true"></i></button>		
		</div>
	</div>
	<div class='numberSetWrapper'>
	<div class="js-numberSet clearfix">
		<% for (let i = 0; i < numbers.length; i++) { %>
		<span><%-numbers[i]%></span>
		<% } %>
	</div>
	</div>