<div class="numerizer">
	<h1>NUMERIZER</h1>
	<div class="description">
		We all have problems, however experienced and fluent we may be, with numbers when they are coming fast in a speech in a foreing language.
		The application was designed for (future) interpreters and language learners by a professional interpreter with the aim to provide an unlimited source of challenging exercises:
	</div>
	<ul>
		<li>Noting down every number in a sequence</li>
		<li>Shadowing (repeating after the speaker first being just one number behind the original and then progressively trying to stay further behind)</li>
		<li>Simultaneous or consecutive interpreting</li>
	</ul>
	<div>Should you have any questions, suggestions or further ideas, feel free to contact me (see contact section)</div>
	<div>
		The application is free to use by private individuals as well as educational institutions.<br>
<!-- 		Should you consider contributing to its maintenance and further development, you can make a Paypal trasfer here. -->
	</div>
</div>