<div class="numerizer">
	<h1>Acknowledgements</h1>
	<div class="description">
		It would be impossible to create this application without the help of several people:
	</div>
	<ul>
		<li>Anna Mochtchevitina, tourist guide in Ghent <a href="http://www.gid-po-gentu.com" target="_blank">www.gid-po-gentu.com (RU)</a>, <a href="https://www.tripadvisor.com/Attraction_Review-g188666-d10531357-Reviews-Guide_in_Ghent-Ghent_East_Flanders_Province.html" target-="_blank">www.tripadvisor.com</a> who patiently helped me with visual layout</li>
<!-- 		<li>David Babaev, a colleague who did extensive tests on MacOS <a href="http://www.davidbabaev.com" target="_blank">www.davidbabaev.com</a> </li> -->
		<li>I am also greatful to other colleagues for their encouragement and positive ideas</li>
	</ul>
</div>