<div id='welcomeScreen' class="welcome">
	<h2>Numerizer for interpreting practice</h2>
	<p>Numerizer is a web application created for language learners and interpretation students to provide an additional and potentially unlimited source of exercises with numbers.</p>
	<div>
		<div class="shortkeys">Available shortkeys:</div>
		<span class="key">Enter</span><span class="description">start a new number set</span><br>
		<span class="key">P</span><span class="description">pause/play active number set</span><br>
		<span class="key">S</span><span class="description">stop playing</span><br>
		<span class="key">(number)</span><span class="description">start playing set (number)</span><br>
		<span class="key">Escape</span><span class="description">clear the screen</span><br>
	</div>
</div>